{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Mi Blog AgTech{% endblock %}

{% block content %}
    <div class="hero_area">
        {# El CSS fue movido a base.html #}
        
        <section class="slider_section position-relative">
            <div class="container">
                <div
                    id="carouselExampleControls"
                    class="carousel slide"
                    data-bs-ride="carousel" 
                >
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="slider_item-box">
                                <div class="slider_item-container">
                                    <div class="slider_item-detail">
                                        <h1>
                                            AGRICULTURA INTELIGENTE Y SOSTENIBLE PARA UN MEJOR FUTURO
                                        </h1>
                                        <p>
                                            Bienvenido al blog de tecnología agraria. Descubre cómo los drones, sensores y análisis de datos están transformando el campo hacia una producción más eficiente, regenerativa y respetuosa con el ambiente. Exploramos soluciones AgTech que reducen el uso de químicos, optimizan el riego, y promueven la biodiversidad. ¡Cultivemos innovación con propósito
                                        </p>
                                        <div>
                                            <a href="{% url 'articulos:lista' %}" class="btn btn-success mt-2">
                                                Ver Artículos
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slider_item-imgbox">
                                        <img src="{% static 'images/droninicio.png' %}" alt="Banner de AgTech" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="carousel-item">
                            <div class="slider_item-box">
                                <div class="slider_item-container">
                                    <div class="slider_item-detail">
                                        <h1>
                                            OPTIMIZA TU CULTIVO DE FORMA SOSTENIBLE
                                        </h1>
                                        <p>
                                            Impulsá tu producción agrícola con herramientas inteligentes que cuidan el ambiente. Desde drones que detectan zonas de estrés hídrico hasta sensores que ajustan el riego en tiempo real, la AgTech permite decisiones precisas que ahorran recursos y mejoran la salud del suelo. Apostá por una agricultura conectada, eficiente y regenerativa.
                                        </p>
                                        <div>
                                            <a href="{% url 'contacto' %}" class="btn btn-success mt-2">
                                                Contáctanos
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slider_item-imgbox">
                                        <img src="{% static 'images/carusel2.png' %}" alt="Banner de AgTech 2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    </div>

    <section class="about_section layout_padding">
        <div class="container">
            <h2 class="text-uppercase">
                Revolución Verde: Drones, Datos y Cultivos Inteligentes
            </h2>
        </div>

        <div class="container">
            <div class="about_card-container layout_padding2-top">
                <div class="about_card">
                    <div class="about-detail">
                        <div class="about_img-container">
                            <div class="about_img-box">
                                <img src="{% static 'images/dron1.jpeg' %}" alt="Fully Responsive" />
                            </div>
                        </div>
                        <div class="card_detail-ox">
                            <h4>
                                Monitoreo inteligente de cultivos con IA

                            </h4>
                            <p>
                                Drones equipados con cámaras multiespectrales y sensores térmicos detectan estrés hídrico, plagas o enfermedades antes de que sean visibles.

                                Se pueden usar algoritmos para predecir zonas de riesgo y aplicar soluciones localizadas, ahorrando agua y agroquímicos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about-detail">
                        <div class="about_img-container">
                            <div class="about_img-box">
                                <img src="{% static 'images/dron2.jpeg' %}" alt="Well Documented" />
                            </div>
                        </div>
                        <div class="card_detail-ox">
                            <h4>
                                Aplicación de bioinsumos con drones
                            </h4>
                            <p>
                                En lugar de fertilizantes sintéticos, se usan insumos orgánicos (como microorganismos beneficiosos) aplicados con drones de forma precisa. Esto reduce la contaminación del suelo y mejora la biodiversidad microbiana.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about-detail">
                        <div class="about_img-container">
                            <div class="about_img-box">
                                <img src="{% static 'images/dron3.png' %}" alt="Easy to Use" />
                            </div>
                        </div>
                        <div class="card_detail-ox">
                            <h4>
                                Reforestación y restauración con drones sembradores
                            </h4>
                            <p>
                                En zonas degradadas, los drones pueden lanzar cápsulas con semillas nativas y nutrientes. Esto acelera la reforestación, mejora la captura de carbono y restaura ecosistemas de forma eficiente y a gran escala.    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="who_section">
        <div class="container who_container">
            <div class="who_img-box">
                <img src="{% static 'images/dron4.jpeg' %}" alt="Imagen de Quienes Somos" />
            </div>
            <div class="who_deail-box">
                <h2>
                    ¿Qué es AgTech Blog?
                </h2>
                <p>
                    AgTech Blog es un espacio dedicado a la innovación agraria sostenible. Aquí exploramos cómo los drones, sensores y el análisis de datos están transformando el campo en una red inteligente y regenerativa. Compartimos ideas, casos reales y herramientas que ayudan a optimizar cultivos, cuidar el ambiente y conectar a productores con soluciones tecnológicas accesibles. ¡Unite a la revolución verde!
                </p>
                <div>
                    <a href="{% url 'acerca_de' %}" class="btn btn-outline-success mt-2">
                        Leer Más
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="feature_section layout_padding">
        <div class="container">
            <h2 class="text-uppercase">
                Nuestras Características
            </h2>
        </div>
        <div class="">
            <div class="feature_card-container layout_padding2">
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="{% static 'images/codigolimpio.jpg' %}" alt="Clean Codes" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>
                            CÓDIGO LIMPIO
                        </h4>
                        <p>
                            Desarrollamos soluciones con estructuras claras, eficientes y fáciles de mantener. Cada línea está pensada para facilitar la integración de sensores, drones y análisis de datos en entornos agrícolas reales.
                    </div>
                </div>
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="{% static 'images/dron5.png' %}" alt="Perfect Showcase" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>VITRINA INTELIGENTE</h4>
                        <p>Mostramos tus cultivos, datos y resultados con interfaces visuales adaptables. Ideal para compartir avances, diagnósticos y mapas de rendimiento con tu equipo o comunidad.</p>
                    </div>
                </div>
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="{% static 'images/herramienta1.jpeg' %}" alt="Free Font" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>FUENTES ABIERTAS</h4>
                        <p>Usamos y promovemos tecnologías libres para que cualquier productor pueda acceder, modificar y mejorar sus herramientas AgTech sin barreras.</p>
                    </div>
                </div>
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="{% static 'images/grafico1.jpg' %}" alt="High Resolution" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>VISUALIZACIÓN DE ALTA PRECISIÓN</h4>
                        <p>Gráficos, mapas y reportes en alta resolución para interpretar el estado del suelo, el clima y los cultivos en tiempo real. Todo pensado para decisiones sostenibles.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact_section ">
        <div class="container d-flex justify-content-center">
            <h2 class="text-uppercase">
                CONTÁCTANOS
            </h2>
        </div>
        <div class="container-fluid layout_padding-top">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-10 offset-md-2">
                        <div class="contact_img-box">
                            <img src="{% static 'images/contactanos.jpg' %}" alt="Imagen de Formulario" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form_bg px-0">
                    <div class="col-md-10">
                        <p>
                            ¿Querés compartir tu proyecto, recibir asesoramiento sobre tecnología agraria o colaborar en soluciones sostenibles? Completá el formulario y conectá con nuestra comunidad AgTech. Estamos listos para cultivar ideas juntos.
                        
                        </p>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'contacto' %}" class="btn btn-success mt-2">
                                    Contáctanos
                            </a>
                        </div>


                        {# Aquí debería ir el formulario de contacto #}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}