<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTICULOS</title>
</head>
<body>
    <h1>TODOS LOS ARTICULOS</h1>  
    <a href="/">Volver al inicio</a>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid quod vero ad at necessitatibus, debitis laudantium ipsam, totam placeat ullam dolores! Minus, voluptate. Suscipit cupiditate maiores ea culpa ratione nam!</p>
</body>
</html>